<!-- <span *ngIf="data">
  <h1>Detaills</h1>
  <ul *ngFor="let item of givemeData()['duties']">
    <li>{{ item["task"] }}</li>
  </ul>
</span> -->
<div class="container margen">
  <div *ngIf="data">
    <table class="table table-sm table-dark mt-5">
      <thead>
        <tr>
          <th>Duties</th>
        </tr>
      </thead>
      <tbody>
        <ul *ngFor="let item of givemeData()['duties']">
          <li>{{ item["task"] }}</li>
        </ul>
      </tbody>
    </table>

    <table class="table table-sm table-dark mt-5">
      <thead>
        <tr>
          <th>Environment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ givemeData()["environment"] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
