<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Mohtadi Bakali</h1>
      <h2 class="masthead-subheading mb-0">Full Stack Developer</h2>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/assets/img/mohtadi.jpeg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Hi there!</h2>
          <p class="font-italic">
            "I enjoy working in a very focused environment and believe that
            learning new stuff helps us tackle new challenges every day. Worked
            across different fields on IT which has helped me get a full scope
            view for developing bespoke solutions. Over 10 years of experience
            designing and developing tailored solutions for different companies
            across a wide variety of technologies."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
