<table class="table table-sm table-dark mt-5">
  <thead>
    <tr>
      <th scope="col">Backend</th>
      <th scope="col">Frontend</th>
      <th scope="col">RDBMS</th>
      <th scope="col">DevOps & Tools</th>
      <th scope="col">Tooling</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>Php (Laravel, Phalcon, Zend)</li>
          <li>Nodejs</li>
          <li>Java</li>
          <li>Python, Tkinter GUI, Django</li>
          <li>Visual Basic</li>
          <li>.Net</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Angular</li>
          <li>AngularJS</li>
          <li>Backbones</li>
          <li>.Knockout</li>
          <li>Jquery</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Sql server</li>
          <li>Mysql</li>
          <li>Postgres</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Jenkins</li>
          <li>Travis</li>
          <li>Docker</li>
          <li>Virtual Box</li>
          <li>Vagrant</li>
          <li>Puppet</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Php unit</li>
          <li>Prottractor</li>
          <li>Karma</li>
          <li>Jassmin</li>
          <li>Git</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
